/**
 * @name White-core
 * @author Murasa
 * @version 1.0.0
 * @description Why
*/

@import url("https://raw.githubusercontent.com/ShroudedMyth/DiscordWhiteTheme/main/MurasaBase.css");

:root {
  --background: url("https://raw.githubusercontent.com/ShroudedMyth/DiscordWhiteTheme/main/whitecore%20(1).png");
  --font:                       "Inter";
  --transparencyalpha:          0.5;
  --transparencycolor:          0,0,0;
  --messagetransparency:        0;       
  --guildchanneltransparency:   0.15;       
  --chatinputtransparency:      0.15;       
  --memberlisttransparency:     0.15;       
  --accentcolor:                144,0,32,0.6;
}

